body {
    background-color: dimgrey;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-family: sans-serif;
}

.ui.large.buttons.choices {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
}

.signature {
    color: white;
    text-align: center;
    font-family: sans-serif;
}